section.bookmarks{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: var(--color-primary);
    border-radius: var(--component-radius);
    padding: var(--box-padding);
}