.Tasks {
    flex-direction: column;
    justify-content: left;
}

.Tasks__List {
    height: 8rem;
    width: 30rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-size: 1.4rem;
    scrollbar-color: white var(--color-bg);
}

.Tasks__List::-webkit-scrollbar{
    background-color: var(--color-bg);
    width: 0.6rem;
    display: none;
}

.Tasks__List:hover::-webkit-scrollbar{
    display: block;
}

.Tasks__List::-webkit-scrollbar-thumb{
    background-color: var(--color-secondary);
    border-radius: 1rem;
}

.Tasks__Input {
    list-style-type: circle;
    background-color: var(--color-primary);
}

.Tasks__Form {
    width: fit-content;
}

.Tasks__Input {
    padding: 1rem;
    font-family: monospace;
    font-size: 1.4rem;
    color: white;
}

.Tasks__Button {
    background-color: var(--color-secondary);
    color: black;
    border-radius: 0.4rem;
    padding: 0.25rem;
}

.Tasks__Icon--Add{
    font-size: 1.5rem;
}