.Search{
    gap: 0.8rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.Search__Input{
    padding: 1rem;
    background-color: transparent;
    color: white;
    font-family: monospace;
    font-size: 1.5rem;
}

.Search__Button{
    background-color: var(--color-secondary);
    color: black;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.Search__Icon{
    font-size: 1.5rem;
}

.Search__EngineLogo{
    background-color: var(--color-primary);
}

.Search__Dropdown{
    padding: 0;
}

.dropdownbutton-custom{
    color: red;
}

.Icon{
    color: white;
    font-size: 3rem;
}

.dropdown-toggle::after{
    display: none !important;
}