@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

:root {
    font-size: 62.5%; /* makes 1 rem value 10px */
    --color-on-primary: white;
    --color-on-secondary: black;
    --color-bg: #254e70;
    --color-primary: #306c92;
    --color-secondary: #f561fd;

    --component-radius: 1rem;
    --box-padding: 1.8rem 1.8rem;
}

#root{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 66%;
    height: 75%;
    gap: 3rem;
}

body{
    display: flex;
    height: 100vh; 
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    background-color: var(--color-bg);
    font-family: 'Open Sans', sans-serif;
    /*background-image: url('./assets/bg-1.png');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 3rem;
}

section{
    display: flex;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--color-primary);
    border-radius: var(--component-radius);
    padding: var(--box-padding);
}

::placeholder{
    color: rgba(255,255,255,0.7);
}